{{ form_start(form) }}

<div class="card-body">
    <div class="row mb-2 ">
        <div class="col-md-6">
            <label class="form-label">First name</label>
            {{ form_widget(form.firstName, {'attr': {'class': ''}}) }}
        </div>
    </div>
    <div class="row mb-2 ">
        <div class="col-md-6">
            <label class="form-label"> Last name</label>
            {{ form_widget(form.lastName, {'attr': {'class': ''}}) }}
        </div>
    </div>
    <div class="row mb-2 ">
        <div class="col-md-6">
            <label class="form-label"> Numéro étudiant</label>
            {{ form_widget(form.numEtud, {'attr': {'class': ''}}) }}
        </div>
    </div>
</div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
