{% extends 'base.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Student</h1>

    {{ include('student/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary"  href="{{ path('student_index') }}">back to list</a>

    {{ include('student/_delete_form.html.twig') }}
</div>
{% endblock %}
