{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
<div class="container">
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">NumEtud</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.numEtud }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}"  class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('student_new') }}"  class="btn btn-primary" >Create new</a>
</div>
{% endblock %}
