{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}

<div class="container">
    <h1>Create new Student</h1>

    {{ include('student/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('student_index') }}">back to list</a>
</div>
{% endblock %}
